<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xyy.game"
    android:installLocation="preferExternal">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <application android:allowBackup="true" android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher" android:theme="@style/AppTheme"
        android:name=".framework.BaseApplication"
        android:hardwareAccelerated="true">
        <!--设置DungeonRPG为主活动-->
        <activity android:name=".ai.AIGame" android:screenOrientation="sensorLandscape"
                  android:configChanges="screenSize|keyboard|keyboardHidden|orientation" >
            <!--设置Activity为重力感应横屏-->
            <!--API13以后，需要在 android:configChanges 的参数里面加一个screenSize,-->
            <!--以确保锁屏时Activity不会被销毁重建-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
